body {
  background-color: #E3F6F5;
  text-align: center
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #66BFBF;
  text-align: center;
}

h3 {
  color: #66BFBF;
  text-align: center
}

.center {
  margin-left: auto;
  margin-right: auto;
}

ul {
  text-align: center;
  list-style: inside;
}
